body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background: rgb(175, 33, 109);
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
}

header h1 {
  color: white;
  margin: 0;
  font-size: 1em;
}

.menulist {
  list-style: none;
  margin: 0;
  margin-right: 1rem;
  padding: 0;
  display: flex;
}

.menuitem {
  margin-left: 5px;
}

.menuitem a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
}

.menuitem a:hover {
  background: rgb(223, 87, 160);
  border-radius: 5px;
}

section {
  width: 80%;
  max-width: 900px;
  margin: 80px auto;
  background: f9f9f9;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

h2 {
  text-align: left;
  font-size: 1.5em;
  margin-bottom: 20px;
}

p {
  text-align: justify;
  max-width: 700px;
  font-size: 1.1em;
  line-height: 1.5;
}

a {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}

a:hover {
  color: rgb(145, 28, 90);

  text-decoration: underline;
}

#ModoE {
  position: fixed;
  top: 60px;
  right: 20px;
  z-index: 500;
  border-radius: 5px;
  background-color: rgb(175, 33, 109);
  color: white;
  font-size: 1rem;
}
#ModoE:hover {
  background-color: rgb(223, 87, 160); /* Laranja escuro */
}

#sobre-mim {
  max-width: 1100px;
  margin: 80px auto; /* Adiciona espaçamento para não ficar grudado no header */
  padding: 20px;
  text-align: center;
}

#sobre-mim h2 {
  text-align: center;
}

.sobre-conteudo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: row;
}

.sobre-conteudo img {
  width: 200px;
  height: auto;
  border-radius: 25%;
}

.dark-mode {
  background-color: #121212;
  color: white;
}

.dark-mode header {
  background: rgb(80, 0, 50);
}

.dark-mode a {
  color: white;
}

.menuitem.dark-mode a:hover {
  color: aliceblue;

  border-radius: 5px;
}

.dark-mode a:hover {
  color: rgb(145, 28, 90);

  text-decoration: underline;
}

.dark-mode section {
  background: #222;
  color: white;
}
